@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --spotify: #1db954;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

body {
  font-family: 'Inter', sans-serif;
}

/* Style for Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: white; /* Color of the scrollbar thumb */
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}
